html, body{
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    background-image: url('https://images.wallpaperscraft.ru/image/gradient_fon_raznotsvetnyj_144504_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
th, td{
    border: 1px solid black;
    align-content: space-between;
}
tr{
    display: table-row;
}


#header {
    margin: 0 auto;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#foundation{
    display: flex;
    justify-content: space-between;
    background-size: cover;
    
}

#left{
display: flex;
padding: 0;
}
#right{
    display: inline;
}

#pressure{
    margin: auto;
}

.table{
    text-align: center;

}

#List2{
    align-content: center;
    text-align: center;
    align-items: center;
}

.btn{
    background-color: rgb(73, 170, 44);
}

.tdBorder{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}


